body {
    padding: 2vh 0;
    gap: 1vh;
}
header {
    gap: 3vw;
}
main {
    gap: 1vh;
}

.board {
    height: calc(97vmin * 2/3);
}
.cell {
    padding: 0.2cqi;
    
    transform: scale(1);
    transform-origin: center center;
    transition: all 0.5s ease;
}
@media (hover: hover) {
    .cell:hover {
        transform: scale(1.5);
        /* add shadow? */
    }
    .cell.marked:hover {
        transform: scale(1.2);
        /* add smaller shadow? */
    }
    .cell.free:hover {
        transform: scale(1.05);
        /* add teensy shadow? */
    }
}

.game-buttons {
    gap: 2vw;
}
button {
    padding: 0.5vmin 2.5vmin;
    border-radius: 1.9cqh;
}

#full-list {
    width: calc((100vw)*2/3);
}

::-webkit-scrollbar {
    width: 1.8vw;
}
::-webkit-scrollbar-button {
    height: 1.8vw;
    border-radius: 0.6cqi;
}
::-webkit-scrollbar-thumb {
    border-radius: 0.6cqw;
}

#new-task {
    width: 33.3vw;
    border-radius: 4cqw;
}

#score-menu {
    height: 80vh;
    transform: translateY(-90vh);
}
#high-score, #last-score {
    border-spacing: 2.5vw 0;
}
svg {
    height: 50%;
}
path {
    stroke-width: 0.75cqi;
}