main {
    /* firstTasks.html only */

    justify-content: space-around; /* change to center? */

    padding: calc(var(--bod-mod) * 2);
    gap: calc(var(--bod-mod) * 1.5);

    border-radius: var(--big-radius);
    background-color: var(--checked-pink);

    color: #ffffff;
    font-family: var(--ktegaki); /* maybe change */
}

h1 {
    /* firstTasks.html only */

    font-family: var(--ktegaki); /* maybe change */
    font-size: var(--m-pt);
    letter-spacing: var(--ls-small);
}

#first-tasks-hint {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: calc(var(--bod-mod) * 1.5);
    gap: var(--bod-mod);

    border-radius: var(--med-radius);
    background-color: var(--free-space-pink); /* changed from --bg-pink; make sure that works */

    color: var(--text-grey);
    font-family: var(--cause); /* maybe change */
    font-size: var(--xxs-pt);
}
#hint-close {
    /* width: 50%; */ /* try this out */
/* } */
table {
    border-spacing: calc(var(--bod-mod) / 2);
}
thead {
    font-size: var(--s-pt);
}
#first-tasks-tables-both {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    gap: calc(var(--bod-mod) * 2);
}
#first-tasks-tables-both th:nth-child(odd) {
    letter-spacing: var(--ls-med);
}
#first-tasks-tables-both th:nth-child(even) {
    font-size: var(--xs-pt);
}
#first-tasks-tables-both td:nth-child(odd) input {
    width: var(--first-task-input-width);
}

/* style the rest of the text on the first tasks page */
/* e.g. the "upload a task list .json file" thingy */