::-webkit-scrollbar {
    width: var(--scrollbar-width);

    background: transparent;
    border: none;
}
::-webkit-scrollbar-track {
    background-color: #ffffff80;
}
::-webkit-scrollbar-track-piece {
    background: transparent;
    border: none;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    border-radius: calc(var(--scrollbar-width) / 3);
    background-color: var(--square-pink);
    border: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    margin: 0;
    padding: var(--bod-mod);
    gap: var(--bod-mod); /* change? */

    overflow-x: hidden;

    background-color: var(--bg-pink);

    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: var(--bod-mod);
}

footer {
    text-align: center;
    color: var(--text-grey);
    font-family: var(--trebuchet);
    font-size: var(--xxxs-pt);
}

h1 {
    margin: 0;
    padding: 0;

    text-align: center;
    font-weight: bold;
}

button {
    overflow: hidden;

    padding: var(--button-padding);

    border-radius: var(--button-radius);
    background-color: var(--button-pink);
    border: none;

    text-align: center;
    color: #ffffff;
    font-family: var(--cherry);
    font-size: var(--xs-pt);
    letter-spacing: var(--ls-med);
}
input {
    padding: var(--input-padding);

    border-radius: var(--input-radius);
    background-color: var(--input-bg-pink);
    border: none;

    text-align: center;
    color: var(--text-black);
    font-family: var(--ktegaki);
    font-size: var(--xs-pt);
    letter-spacing: var(--ls-small);
    font-weight: bold;
}