/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900');
/* font ktegaki is by spicy-sweet @ font.spicy-sweet.com */

@font-face {
    font-family: "Cherry Bomb One";
    src: url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap") format("woff2"),
    url("/fonts/CherryBombOne-Regular.ttf") format("tff");
}
@font-face {
    font-family: "Cause";
    src: url("https://fonts.googleapis.com/css2?family=Cause:wght@100..900") format("woff2"),
    url("/fonts/Cause-VariableFont_wght.ttf") format("tff");
}
@font-face {
    font-family: "KTEGAKI";
    src: url("/fonts/KTEGAKI.ttf") format("tff");
}

/* ROOT VARIABLES */
:root {
    /* COLOR PALETTE */
    --white: #ffffff;
    --tl-white: #ffffff80;
    --off-white: #fffafa;
    --lighter-grey: #f3f3f3;
    --light-grey: #ececec;
    --text-grey: #766666;
    --text-black: #381a28;

    --tl-pink: #ffe8eb5a;
    --input-bg-pink: #ffe8eb;
    --bg-pink: #ffdcdd;
    --free-space-pink: #ffc7cd;
    --square-pink: #ffb1b6;
    --button-pink: #ff95a6;
    --checked-pink: #ff7295;
    --text-pink: #ff408b;

    --purple: #c94685;
    --blue: rgb(83, 49, 136);
    --yellow: #ffff8c;

    /* FONT FAMILIES */
    --bubble: "Cherry Bomb One", "Arial Rounded MT Bold", "Arial Rounded MT", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --cute: "KTEGAKI", "Cause", "Calibri", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --classic: "Calibri", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* FONT SIZES */
    --small: 1.75vmin;
    --semi-small: 2.1vmin;
    --standard: 2.5vmin;
    --semi-big: 2.8vmin;
    --big: 3vmin;
    --subtitle: 3.5vmin;
    --title: 5vmin;

    /* SPACING */
    --list-height: 87vh;
    --list-hf-height: calc((100vh - var(--list-height)) / 2);

    --tiny-space: 0.5vh;
    --small-space: 1vh;
    --board-gap: 2vh;
}
@media (max-width: 768px) {
    :root {
        /* MOBILE FONT SIZES */
        --small: 3vmin;
        --semi-small: 3.5vmin;
        --standard: 4vmin;
        --semi-big: 4vmin; /* change? */
        --big: 4vmin; /* change? */
        --subtitle: 6.5vmin;
        --title: 8vmin;
    }
}

/* GLOBALS */
* {box-sizing: border-box;}

/* USER SELECTION AND CURSOR */
body {user-select: none;}
#active-tasks, #inactive-tasks {user-select: contain;}

@media (pointer: fine) {
    header img, .cell, button,
    #active-tasks, #inactive-tasks {
        cursor: pointer;
    }
    .cell.marked, .cell.free {
        cursor: default;
    }
}

/* Z-INDEX */
@media (hover: hover) {
    .cell.free:hover {z-index: 5;}
    .cell.marked:hover {z-index: 10;}
    .cell:hover {z-index: 15;}
}
header {z-index: 20;}
#score-menu {z-index: 25;}
#full-list {z-index: 50;}
.scrollable {z-index: 55;}
#active-tasks, #inactive-tasks {z-index: 60;}
.header-div, #new-task-button {z-index: 65;}
#new-task {z-index: 75;}
#board-cleared {z-index: 100;}

/* SCROLLBAR */
::-webkit-scrollbar-track {
    background-color: var(--tl-white);
}
::-webkit-scrollbar-button {
    background-color: var(--free-space-pink);
}
::-webkit-scrollbar-thumb {
    background-color: var(--square-pink);
    border: none;
}
::-webkit-scrollbar, ::-webkit-scrollbar-track-piece {
    background: transparent;
    border: none;
}