/* ctrl-f "change" and "nest" */
/* change all px? try at different viewport widths */
/* move root to est.css or global.css? */

:root {
    --list-hf-height: 8vh; /* change? clamp or min/max? */

    --list-height: calc(100vh - (var(--list-hf-height) * 2));
}

body {
    padding: 25px;
}
main {
    gap: 10px;
}

header {
    display: flex;
    align-items: center;

    gap: 15px;

    text-align: center;

    img {
        width: 24px;
        height: 24px;
        aspect-ratio: 1/1;
    }
    /* if I want to nest the above, change styling on firstTasks.css for consistency */
    /* or if I don't want to nest stuff on firstTasks.css, change THIS for consistency */
}

h1 {
    /* index.html only */
    color: var(--text-pink);
    font-family: "Cherry Bomb One"; /* change to var */
    font-size: 36px; /* change? */
    letter-spacing: 0.2em;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    max-height: 100vh; /* change */
    /* so currently with this max height you can fit the whole board */
    /* in your browser window but not the whole page. currently. */
    aspect-ratio: 1/1;
    gap: 10px; /* change, but fix the size first */
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 calc(20% - (10px * 4 / 5)); /* change */
    /* the 10px referenced above is the .board gap value */
    word-wrap: break-word; /* do I need this */
    overflow: hidden;

    aspect-ratio: 1/1;
    margin: 0;
    padding: 5px;

    border-radius: 15%; /* change? */
    background-color: var(--square-pink);

    text-align: center;
    color: var(--white);
    font-family: "KTEGAKI"; /* change to var */
    font-size: 14px; /* change? maybe clamp or min/max */
    letter-spacing: 0.05em;
    line-height: 85%;
    font-weight: bold;
}
.cell.free {
    background-color: var(--free-space-pink);
    background-image: url("../assets/freeSpace.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.cell.marked {
    background-color: var(--checked-pink);
}
@media (hover: hover) {
    .cell {
        transform: scale(1);
        transform-origin: center center;
        transition: all 0.5s ease;
    }
    .cell:hover {
        background-color: var(--button-pink);
        /* add shadow */

        transform: scale(1.5);
    }
    .cell.free:hover {
        /* add teensy shadow */

        transform: scale(1.05);
    }
    .cell.marked:hover {
        /* add small shadow */

        transform: scale(1.2);
    }
}

.scores {
    margin: 10px;

    color: var(--text-pink);
    font-family: "KTEGAKI"; /* maybe change, also change to var */
    font-size: 20px;
    letter-spacing: 0.2em;
    font-weight: bold;
}
#square-score, #bingo-score, #board-score {
    font-size: 32px;
}
/* consider nesting see above */
.scores tr:nth-child(odd) {
    vertical-align: baseline;
}
.subtitle-row {
    font-size: 16px;
    letter-spacing: 0;
    font-weight: normal;
}

.game-buttons {
    display: flex;
    flex-direction: row;

    gap: 15px;
}
#reset-button {
    background-color: var(--purple);
}

/* full task list stuff */
#full-list {
    position: absolute;
    top: 0;
    left: 0;

    width: calc(100vw * 2 / 3); /* change */
    height: 100vh;

    background-color: var(--white);
    box-shadow: 1vw 0px 3vw 1vw #0000001b;

    transition: all 0.2s ease-out;
    transform: translateX(-100vw);
}
#full-list.visible {
    transition: all 0.2s ease-in;
    transform: translateX(0vw);
}
.header-div {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: var(--list-hf-height);

    background-color: var(--button-pink);
    box-shadow: 0px 0.5vh 3vw 0px #0000003a;
    border: none;
}
h2 {
    margin: 0;
    padding: 0;

    color: var(--white);
    font-family: "Cherry Bomb One"; /* change to var */
    font-size: 20px;
    letter-spacing: 0.1em;
    font-weight: normal;
}
.scrollable {
    position: absolute;
    top: var(--list-hf-height);
    left: 0;

    width: 100%;
    height: var(--list-height);

    overflow-y: auto;

    font-family: "KTEGAKI"; /* maybe change, and change to var */
}
#active-tasks {
    width: 100%;

    background-color: var(--off-white);

    color: var(--text-black);
    font-size: 16px;
}
/* nesting blah blah see above */
#active-tasks tr:nth-child(even) {
    background-color: var(--input-bg-pink);
}
#inactive-tasks {
    width: 100%;

    background-color: var(--lighter-grey);
    border-top: solid 2px var(--checked-pink);

    color: var(--text-grey);
    font-style: italic;
    font-size: 14px;
}
/* nesting ditto */
#inactive-tasks tr:nth-child(even) {
    background-color: var(--light-grey);
}
#active-tasks, #inactive-tasks {
    tr td:nth-child(even) {
        font-size: 90%;
    }
}
#new-task-button {
    position: absolute;
    bottom: 0;
    left: 0;

    align-items: center;

    width: 100%;
    height: var(--list-hf-height);

    border-radius: 0;
    background-color: var(--button-pink);
    box-shadow: 0px -0.5vh 3vw 0px #0000003a;

    font-size: 20px;
    letter-spacing: 0.1em;
}

/* new task pop up stuff */
#new-task {
    display: none;

    position: absolute;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* do I need this */
    word-wrap: normal; /* do I need this */

    width: calc(100vw / 3); /* change? */
    aspect-ratio: 2/3;
    padding: 15px;

    border-radius: 25px;
    background-color: var(--checked-pink);
    box-shadow: 0px 1px 4vmin 1vmin #0000003a;

    text-align: center;
    color: var(--white);
    font-family: "KTEGAKI"; /* maybe change, also change to var */
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: bold;
}
#new-task.visible {
    display: flex;
}
h3 {
    margin: 0;
    padding: 0;

    color: var(--bg-pink);
    font-family: "Cherry Bomb One"; /* change to var */
    font-size: 24px;
    letter-spacing: 0.1em;
    font-weight: normal;
}
.hint {
    font-size: 14px;
    letter-spacing: 0;
    font-weight: normal;
}
#ntConfirm {
    background-color: var(--square-pink);
}
#ntCancel {
    background-color: var(--purple);
}

/* dropdown score menu stuff */
#score-menu {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100vw;
    height: 80vh; /* change? */

    background:-webkit-linear-gradient(rgb(83, 49, 136), #c94685);
    box-shadow: 0px 1vh 3vw 1vw #0000001b;

    color: var(--yellow);
    text-shadow: 0 0 10px rgba(255, 255, 0, 0.3);
    font-family: "KTEGAKI"; /* maybe change, also change to var */
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: bold;

    transition: all 0.2s ease-out;
    transform: translateY(-100vh);
}
#score-menu.visible {
    transition: all 0.2s ease-in;
    transform: translateY(0vh);
}
.table-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#high-score, #last-score {
    border-spacing: 20px 0;
}
#high-date, #last-date, #today-date {
    margin-bottom: 5px; /* change? */

    font-size: 14px;
    font-weight: normal;
}
#table-label {
    font-size: 12px;
    letter-spacing: -0.05em;
    font-weight: normal;
}
svg {
    height: 50%; /* change? */

    background-color: var(--tl-pink);
}
path {
    fill: none;
    stroke: var(--yellow);
    stroke-linecap: round;
    stroke-width: 5px; /* change? clamp or min/max? */
}
path#guide {
    stroke: var(--button-pink);
    stroke-dasharray: 8,12;
}
path#axis {
    stroke: var(--checked-pink);
}
svg text {
    fill: var(--input-bg-pink);
    font-size: 20px;
}
/* nesting blah */

/* board cleared pop up button */
#board-cleared {
    display: none;

    position: absolute;

    justify-content: center;
    align-items: center;

    width: 50vmin;
    height: 50vmin;
    aspect-ratio: 1/1;

    border-radius: 49%;
    box-shadow: 0 0 10vmin 5vmin #0000003a, 0 0 5vmin 2vmin #0000003a;

    text-align: center;
    font-size: 20px; /* maybe change */
    font-weight: normal;
}