:root {
    --list-hf-height: 8vh; /* change? clamp or min/max? */

    --list-height: calc(100vh - (var(--list-hf-height) * 2));
}

body {
    padding: calc(var(--bod-mod) * 2.5);
}
main {
    margin: 0;
}

header {
    display: flex;
    align-items: center;

    gap: var(--button-gap);

    text-align: center;
}
header img {
    width: var(--header-img-button);
    height: var(--header-img-button);
    aspect-ratio: 1/1;
}

section.central {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding: 0;
    gap: var(--bod-mod);
}

h1 {
    /* index.html only */
    color: var(--text-pink);
    font-family: var(--cherry);
    font-size: var(--xxl-pt); /* change? */
    letter-spacing: var(--ls-big);
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1 40vw;
    flex-wrap: wrap;

    max-width: 60vw;
    min-width: none;
    max-height: 80vh;
    min-height: none;
    aspect-ratio: 1/1;
    gap: var(--board-gap); /* change, but fix the size first */
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 calc(20% - (var(--board-gap) * 4/5));
    word-wrap: break-word; /* do I need this */
    overflow: hidden;

    min-width: none;
    min-height: none;
    aspect-ratio: 1/1;
    margin: 0;
    padding: var(--cell-padding); /* change? */

    border-radius: 15%; /* change? */
    background-color: var(--square-pink);

    text-align: center;
    color: #ffffff;
    font-family: var(--ktegaki);
    font-size: var(--cell-pt);
    letter-spacing: var(--ls-small);
    line-height: 85%;
    font-weight: bold;
}
.cell.free {
    background-color: var(--free-space-pink);
    background-image: url("../assets/freeSpace.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.cell.marked {
    background-color: var(--checked-pink);
}
@media (hover: hover) {
    .cell {
        transform: scale(1);
        transform-origin: center center;
        transition: all 0.5s ease;
    }
    .cell:hover {
        background-color: var(--button-pink);
        /* add shadow */

        transform: scale(1.5);
    }
    .cell.free:hover {
        /* add teensy shadow */

        transform: scale(1.05);
    }
    .cell.marked:hover {
        /* add small shadow */

        transform: scale(1.2);
    }
}

.scores {
    color: var(--text-pink);
    font-family: var(--ktegaki); /* maybe change */
    font-size: var(--m-pt);
    letter-spacing: var(--ls-big);
    font-weight: bold;
}
#square-score, #bingo-score, #board-score {
    font-size: var(--xl-pt);
}
.scores tr:nth-child(odd) {
    vertical-align: baseline;
}
.subtitle-row {
    font-family: var(--cause);
    font-size: var(--xs-pt);
    letter-spacing: var(--ls-norm);
    font-weight: normal;
}

.game-buttons {
    display: flex;
    flex-direction: row;

    gap: var(--button-gap);
}
#reset-button {
    background-color: var(--purple);
}

/* full task list stuff */
#full-list {
    position: absolute;
    top: 0;
    left: 0;

    width: calc(100vw * 2 / 3); /* change */
    height: 100vh;

    background-color: #ffffff;
    box-shadow: 1vw 0px 3vw 1vw #0000001b;

    transition: all 0.2s ease-out;
    transform: translateX(-100vw);
}
#full-list.visible {
    transition: all 0.2s ease-in;
    transform: translateX(0vw);
}
.header-div {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: var(--list-hf-height);

    background-color: var(--button-pink);
    box-shadow: 0px 0.5vh 3vw 0px #0000003a;
    border: none;
}
h2 {
    margin: 0;
    padding: 0;

    color: #ffffff;
    font-family: var(--cherry);
    font-size: var(--m-pt);
    letter-spacing: var(--ls-med);
    font-weight: normal;
}
.scrollable {
    position: absolute;
    top: var(--list-hf-height);
    left: 0;

    width: 100%;
    height: var(--list-height);

    overflow-y: auto;

    font-family: var(--cause);
}
#active-tasks {
    width: 100%;

    background-color: #fffafa;

    color: var(--text-black);
    font-size: var(--xs-pt);
}
#active-tasks tr:nth-child(even) {
    background-color: var(--input-bg-pink);
}
#inactive-tasks {
    width: 100%;

    background-color: #f3f3f3;
    border-top: solid 2px var(--checked-pink);

    color: var(--text-grey);
    font-style: italic;
    font-size: var(--xxs-pt);
}
#inactive-tasks tr:nth-child(even) {
    background-color: #ececec;
}
#active-tasks, #inactive-tasks {
    tr td:nth-child(even) {
        font-size: 90%;
    }
}
#new-task-button {
    position: absolute;
    bottom: 0;
    left: 0;

    align-items: center;

    width: 100%;
    height: var(--list-hf-height);

    border-radius: 0;
    background-color: var(--button-pink);
    box-shadow: 0px -0.5vh 3vw 0px #0000003a;

    font-size: var(--m-pt);
    letter-spacing: var(--ls-med);
}

/* new task pop up stuff */
#new-task {
    display: none;

    position: absolute;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* do I need this */
    word-wrap: normal; /* do I need this */

    width: var(--new-task-width);
    aspect-ratio: 2/3;
    padding: calc(var(--bod-mod) * 1.5);

    border-radius: var(--big-radius);
    background-color: var(--checked-pink);
    box-shadow: 0px 1px 4vmin 1vmin #0000003a;

    text-align: center;
    color: #ffffff;
    font-family: var(--ktegaki); /* maybe change */
    font-size: var(--xs-pt);
    letter-spacing: var(--ls-small);
    font-weight: bold;
}
#new-task.visible {
    display: flex;
}
h3 {
    margin: 0;
    padding: 0;

    color: var(--bg-pink);
    font-family: var(--cherry);
    font-size: var(--l-pt);
    letter-spacing: var(--ls-med);
    font-weight: normal;
}
.hint {
    font-size: var(--xxs-pt);
    letter-spacing: var(--ls-norm);
    font-weight: normal;
}
#ntConfirm {
    background-color: var(--square-pink);
}
#ntCancel {
    background-color: var(--purple);
}

/* dropdown score menu stuff */
#score-menu {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100vw; /* change fix */
    height: 80vh; /* change? */

    background:-webkit-linear-gradient(rgb(83, 49, 136), #c94685);
    box-shadow: 0px 1vh 3vw 1vw #0000001b;

    color: #ffff8c;
    text-shadow: 0 0 10px rgba(255, 255, 0, 0.3);
    font-family: var(--ktegaki); /* maybe change */
    font-size: var(--xs-pt);
    letter-spacing: var(--ls-small);
    font-weight: bold;

    transition: all 0.2s ease-out;
    transform: translateY(-100vh);
}
#score-menu.visible {
    transition: all 0.2s ease-in;
    transform: translateY(0vh);
}
.table-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#high-score, #last-score {
    border-spacing: 20px 0;
}
#high-date, #last-date, #today-date {
    margin-bottom: calc(var(--bod-mod) / 2); /* change? */

    font-family: var(--cause);
    font-size: var(--xs-pt);
    font-weight: normal;
}
#table-label {
    font-family: var(--cause);
    font-size: var(--xxxs-pt);
    letter-spacing: var(--ls-neg);
    font-weight: normal;
}
svg {
    height: 50%; /* change? */

    background-color: #ffe8eb5a;
}
path {
    fill: none;
    stroke: #ffff8c;
    stroke-linecap: round;
    stroke-width: 5px; /* change? clamp or min/max? */
}
path#guide {
    stroke: var(--button-pink);
    stroke-dasharray: 8,12;
}
path#axis {
    stroke: var(--checked-pink);
}
svg text {
    fill: var(--input-bg-pink);
    font-size: var(--m-pt);
}

/* board cleared pop up button */
#board-cleared {
    display: none;

    position: absolute;

    justify-content: center;
    align-items: center;

    width: 50vmin;
    height: 50vmin;
    aspect-ratio: 1/1;

    border-radius: 49%;
    box-shadow: 0 0 10vmin 5vmin #0000003a, 0 0 5vmin 2vmin #0000003a;

    text-align: center;
    font-size: var(--m-pt);
    font-weight: normal;
}