body {
    padding: 5vh 0;
}
header {
    gap: 6vw;
}
main {
    gap: 1vh;
}
.board {
    margin: 5vmin;
}
.cell {
    padding: 0.5cqi;
}

.game-buttons {
    gap: 4vw;
}
button {
    padding: 1vmin 3.5vmin;
    border-radius: 1.4cqh;
}

#full-list {
    width: 80vw;
}

::-webkit-scrollbar {
    width: 3.2vw;
}
::-webkit-scrollbar-button {
    height: 3.2vw;
    border-radius: 1cqi;
}
::-webkit-scrollbar-thumb {
    border-radius: 1cqw;
}

#new-task {
    width: 66.7vw;
    border-radius: 8cqw;
}

#score-menu {
    height: 60vh;
    transform: translateY(-70vh);
}
#high-score, #last-score {
    border-spacing: 3.5vw 0;
}
svg {
    width: 90%;
}
path {
    stroke-width: 1.5cqi;
}