body {
    height: 100vh;
    margin: 0;
    padding: var(--board-gap);
    gap: var(--small-space);
}
main {
    height: 100%;
    gap: var(--small-space);
}

header img {
    width: var(--icon-button);
    height: var(--icon-button);
    aspect-ratio: 1/1;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.board {
    max-width: 100vw;
    max-height: 100vh;
    aspect-ratio: 1/1;
    gap: var(--board-gap);
}
.cell {
    aspect-ratio: 1/1;
    margin: 0;
    padding: var(--tiny-space);

    border-radius: 15%;
}

.game-buttons {
    gap: var(--board-gap);
}

input {
    padding: var(--tiny-space);
}

.first-tasks-main {
    height: auto;
}
#first-tasks-hint {
    margin: var(--small-space);
}
#hint-close {
    width: 50%;
}

#full-list {
    width: var(--list-width);
    height: 100vh;
}
.header-div, #new-task-button {
    width: 100%;
    height: var(--list-hf-height);
}
.scrollable {
    width: 100%;
    height: var(--list-height);
}
#active-tasks, #inactive-tasks {
    width: 100%;
}
#new-task-button {
    border-radius: 0;
}

#new-task {
    aspect-ratio: 2/3;
    padding: var(--board-gap);
}

#score-menu {
    width: 100vw;
    height: var(--score-menu-height);
}
#high-date, #last-date, #today-date {
    margin-bottom: var(--small-space);
}
@media (min-width: 769px) {
    svg {
        height: 50%;
    }
}
@media (max-width: 768px) {
    svg {
        width: 90%;
    }
}

#board-cleared {
    width: 50vmin;
    height: 50vmin;
    aspect-ratio: 1/1;
    border-radius: 49%;
}