body {
    background-color: var(--bg-pink);
}

footer {
    color: var(--text-grey);
    font-family: var(--classic);
    font-size: 1.75vmin; /* change? */
}

h1 {
    color: var(--text-pink);
    font-family: var(--bubble);
    font-size: 5vmin; /* change? */ /* desktop */
    font-weight: bold;
}
@media (max-width: 768px) {
    h1 {
        font-size: 8.5vmin; /* change? */
    }
}

.cell {
    background-color: var(--square-pink);

    color: var(--white);
    font-family: var(--cute);
    font-size: 2vmin; /* change? */ /* desktop */
    font-weight: bold;
}
@media (max-width: 768px) {
    .cell {
        font-size: 3cqi; /* change? */
    }
}
.cell:hover /* this whole thing is for desktop */ {
    background-color: var(--button-pink);
}
.cell.free {
    background-color: var(--free-space-pink);

    background-image: url("../assets/freeSpace.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.cell.marked {
    background-color: var(--checked-pink);
}

.scores {
    color: var(--text-pink);
    font-family: var(--cute);
    font-size: 2.5vmin; /* change? */ /* desktop */
    font-weight: bold;
}
@media (max-width: 768px) {
    .scores {
        font-size: 4.5vmin; /* change? */
    }
}
#square-score, #bingo-score, #board-score {
    font-size: 200%; /* change? */ /* desktop */
}
@media (max-width: 768px) {
    #square-score, #bingo-score, #board-score {
        font-size: 200%; /* change? */
    }
}
.subtitle-row {
    font-size: 85%; /* change? */
    font-weight: normal;
}

button {
    background-color: var(--button-pink);
    border: none;

    color: var(--white);
    font-family: var(--bubble);
    font-size: 2.5vmin; /* change? */ /* desktop */
}
@media (max-width: 768px) {
    button {
        font-size: 3.5vmin; /* change? */
    }
}
#reset-button {
    background-color: var(--purple);
}

input {
    background-color: var(--input-bg-pink);
    border: none;

    color: var(--text-black);
    font-family: var(--cute);
    font-size: 120%; /* of what? */ /* change? */
    font-weight: bold;
}

.first-tasks-main {
    background-color: var(--checked-pink);

    color: var(--white);
    font-family: var(--cute);
}
#first-tasks-hint {
    background-color: var(--bg-pink);

    color: var(--text-grey);
    font-size: 2.6vmin; /* change? */ /* modify for mobile */
}
#first-tasks-tables-both th {
    font-size: 2.8vmin; /* change? */ /* modify for mobile */
}
#first-tasks-tables-both input {
    font-size: 2.7vmin; /* change? */ /* modify for mobile */
}

#full-list {
    background-color: var(--white);
    box-shadow: 1vw 0px 3vw 1vw #0000001b;
}
.header-div {
    background-color: var(--button-pink);
    box-shadow: 0px 0.5vh 3vw 0px #0000003a;
    border: none;
}
h2 {
    color: var(--white);
    font-family: var(--bubble);
    font-size: 3.5vmin; /* change? */ /* desktop */
    font-weight: normal;
}
@media (max-width: 768px) {
    h2 {
        font-size: 6.5vmin; /* change? */
    }
}
#active-tasks {
    background-color: var(--off-white);

    color: var(--text-black);
    font-family: var(--cute);
    font-size: 2.6vmin; /* change? */ /* desktop */
}
@media (max-width: 768px) {
    #active-tasks {
        font-size: 3.7vmin; /* change? */
    }
}
#active-tasks tr:nth-child(even) {
    background-color: var(--input-bg-pink);
}
#inactive-tasks {
    background-color: var(--lighter-grey);
    border-top: solid 2px var(--checked-pink);

    color: var(--text-grey);
    font-family: var(--cute);
    font-style: italic;
    font-size: 2.45vmin; /* change? */ /* desktop */
}
@media (max-width: 768px) {
    #inactive-tasks {
        font-size: 3.5vmin; /* change? */
    }
}
#inactive-tasks tr:nth-child(even) {
    background-color: var(--light-grey);
}
#active-tasks, #inactive-tasks {
    tr td:nth-child(even) {
        font-size: 90%; /* change? */
    }
}
#new-task-button {
    box-shadow: 0px -0.5vh 3vw 0px #0000003a;

    font-size: 3.5vmin; /* change? */ /* desktop */
}
@media (max-width: 768px) {
    #new-task-button {
        font-size: 6.5vmin; /* change? */
    }
}

#new-task {
    background-color: var(--checked-pink);
    box-shadow: 0px 1px 4vmin 1vmin #0000003a;

    color: var(--white);
    font-family: var(--cute);
    font-size: 2cqw; /* change? */ /* desktop */
    font-weight: bold;
}
@media (max-width: 768px) {
    #new-task {
        font-size: 4cqw; /* change? */
    }
}
h3 {
    color: var(--bg-pink);
    font-family: var(--bubble);
    font-size: 3.2cqw; /* change? */ /* desktop */
    font-weight: normal;
}
@media (max-width: 768px) {
    h3 {
        font-size: 6.4cqw; /* change? */
    }
}
.hint {
    font-size: 80%; /* change? */
    font-weight: normal;
}
#ntConfirm {
    background-color: var(--square-pink);
}
#ntCancel {
    background-color: var(--purple);
}

#score-menu {
    background:-webkit-linear-gradient(rgb(83, 49, 136), #c94685);
    box-shadow: 0px 1vh 3vw 1vw #0000001b;

    color: var(--yellow);
    text-shadow: 0 0 10px rgba(255, 255, 0, 0.3);
    font-family: var(--cute);
    font-size: 3vmin; /* change? */ /* desktop */
    font-weight: bold;
}
@media (max-width: 768px) {
    #score-menu {
        font-size: 4vmin; /* change? */
    }
}
#high-date, #last-date, #today-date {
    font-size: 85%; /* change? */
    font-weight: normal;
}
#table-label {
    font-size: 70%; /* change? */
    font-weight: normal;
}
svg {
    background-color: var(--tl-pink);
}
path {
    fill: none;
    stroke: var(--yellow);
    stroke-linecap: round;
}
path#guide {
    stroke: var(--button-pink);
    stroke-dasharray: 8,12;
}
path#axis {
    stroke: var(--checked-pink);
}
svg text {
    fill: var(--input-bg-pink);
    font-size: 4.5vmin; /* change? */ /* desktop */
}
@media (max-width: 768px) {
    svg text {
        font-size: 7.5vmin; /* change? */
    }
}

#board-cleared {
    box-shadow: 0 0 10vmin 5vmin #0000003a, 0 0 5vmin 2vmin #0000003a;

    font-size: 4cqi; /* change? */
    font-weight: normal;
}