body {
    background-color: var(--bg-pink);
}

footer {
    color: var(--text-grey);
    font-family: var(--classic);
    font-size: var(--small);
}

h1 {
    color: var(--text-pink);
    font-family: var(--bubble);
    font-size: var(--title);
    font-weight: bold;
}

.cell {
    background-color: var(--square-pink);

    color: var(--white);
    font-family: var(--cute);
    font-size: var(--small);
    font-weight: bold;
}
.cell.free {
    background-color: var(--free-space-pink);

    background-image: url("../assets/freeSpace.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.cell.marked {
    background-color: var(--checked-pink);
}
@media (hover: hover) {
    .cell:hover {
        background-color: var(--button-pink);
        /* add shadow */
    }
    /* add smaller shadow on .cell.marked:hover */
    /* add teensy shadow on .cell.free:hover */
}

.scores {
    color: var(--text-pink);
    font-family: var(--cute);
    font-size: var(--standard);
    font-weight: bold;
}
#square-score, #bingo-score, #board-score {
    font-size: var(--title);
}
.subtitle-row {
    font-size: var(--semi-small);
    font-weight: normal;
}

button {
    background-color: var(--button-pink);
    border: none;

    color: var(--white);
    font-family: var(--bubble);
    font-size: var(--standard);
}
#reset-button {
    background-color: var(--purple);
}

input {
    background-color: var(--input-bg-pink);
    border: none;

    color: var(--text-black);
    font-family: var(--cute);
    font-size: var(--big);
    font-weight: bold;
}

.first-tasks-main {
    background-color: var(--checked-pink);

    color: var(--white);
    font-family: var(--cute);
}
#first-tasks-hint {
    background-color: var(--bg-pink);

    color: var(--text-grey);
    font-size: var(--small);
}
#first-tasks-tables-both th {
    font-size: var(--semi-big);
}
#first-tasks-tables-both input {
    font-size: var(--standard);
}

#full-list {
    background-color: var(--white);
    box-shadow: 1vw 0px 3vw 1vw #0000001b;
}
.header-div {
    background-color: var(--button-pink);
    box-shadow: 0px 0.5vh 3vw 0px #0000003a;
    border: none;
}
h2 {
    color: var(--white);
    font-family: var(--bubble);
    font-size: var(--subtitle);
    font-weight: normal;
}
#active-tasks {
    background-color: var(--off-white);

    color: var(--text-black);
    font-family: var(--cute);
    font-size: var(--standard);
}
#active-tasks tr:nth-child(even) {
    background-color: var(--input-bg-pink);
}
#inactive-tasks {
    background-color: var(--lighter-grey);
    border-top: solid 2px var(--checked-pink);

    color: var(--text-grey);
    font-family: var(--cute);
    font-style: italic;
    font-size: var(--semi-small);
}
#inactive-tasks tr:nth-child(even) {
    background-color: var(--light-grey);
}
#active-tasks, #inactive-tasks {
    tr td:nth-child(even) {
        font-size: 90%;
    }
}
#new-task-button {
    box-shadow: 0px -0.5vh 3vw 0px #0000003a;

    font-size: var(--subtitle);
}

#new-task {
    background-color: var(--checked-pink);
    box-shadow: 0px 1px 4vmin 1vmin #0000003a;

    color: var(--white);
    font-family: var(--cute);
    font-size: var(--standard);
    font-weight: bold;
}
h3 {
    color: var(--bg-pink);
    font-family: var(--bubble);
    font-size: var(--subtitle);
    font-weight: normal;
}
.hint {
    font-size: var(--small);
    font-weight: normal;
}
#ntConfirm {
    background-color: var(--square-pink);
}
#ntCancel {
    background-color: var(--purple);
}

#score-menu {
    background:-webkit-linear-gradient(rgb(83, 49, 136), #c94685);
    box-shadow: 0px 1vh 3vw 1vw #0000001b;

    color: var(--yellow);
    text-shadow: 0 0 10px rgba(255, 255, 0, 0.3);
    font-family: var(--cute);
    font-size: var(--big);
    font-weight: bold;
}
#high-date, #last-date, #today-date {
    font-size: var(--standard);
    font-weight: normal;
}
#table-label {
    font-size: var(--semi-small);
    font-weight: normal;
}
svg {
    background-color: var(--tl-pink);
}
path {
    fill: none;
    stroke: var(--yellow);
    stroke-width: 1vmin;
    stroke-linecap: round;
}
@media (max-width: 768px) {
    path {
        stroke-width: 2vmin;
    }
}
path#guide {
    stroke: var(--button-pink);
    stroke-dasharray: 8,12;
}
path#axis {
    stroke: var(--checked-pink);
}
svg text {
    fill: var(--input-bg-pink);
    font-size: var(--title);
}

#board-cleared {
    box-shadow: 0 0 10vmin 5vmin #0000003a, 0 0 5vmin 2vmin #0000003a;

    font-size: var(--title);
    font-weight: normal;
}